*{
    padding: 0px;
    margin: 0px;
}
body{
    background-color: rgb(248, 249, 250);
}

#head{
    background-color: rgb(230, 253, 255);
    background-image: url(../img/backgroundimg.png);
    box-shadow: 0px 0px 10px 0px rgb(110, 110, 110);
    .title{
        width: 60%;
        margin: auto;
        padding-top: 60px;
        padding-bottom: 20px;
        color: rgb(255, 179, 129);
        font-size:300%;
        font-weight: bold;
        text-shadow: 1px 1px 5px rgb(63, 63, 63);
    }
}
#body{
    display: flex;
    width: 60%;
    margin: 10px auto;
}
// @media (min-width: 800px) {
//     #body{
//         width: 60%;
//     }
// }

@media (max-width: 800px) {
    #head{
        .title{
            width: 95%;
        }
    }
    #body{
        width: 95%;
    }
}

.leftbox{
    width: 30%;
    .tagbox{
        padding: 5px 10px;
        margin-right: 10px;
        border-radius: 10px;
        background-color: white;
        text-align: center;
        // overflow: hidden;
        // text-overflow: ellipsis;
        // white-space: nowrap;/*文本不进行换行*/
        box-shadow: 1px 1px 2px 0px rgb(172, 172, 172);        
        .tag{
            padding: 0.5em;
            border-bottom: solid rgb(214, 214, 214) 1px;
            &:last-child{
                border-bottom: solid rgb(214, 214, 214) 0px;
            }
            &:hover{
                background-color: rgb(203, 255, 198);
            }

        }
    }
}
.leftbox-fixed{
    position: fixed;
    width: calc( 18% - 30px );
    top: 10px;
}
@media (max-width: 800px) {
    .leftbox-fixed{
        width: calc( 28.5% - 30px );
    }
}
.mainbox{
    width: 70%;
    
    .urlgroup{
        .groupname{
            padding: 0.5em;
            background-color: white;
            border-top: solid rgb(214, 214, 214) 1px;
            border-bottom: solid rgb(214, 214, 214) 1px;
            border-radius: 5px;
            box-shadow: 1px 1px 2px 0px rgb(172, 172, 172);
        }
        .linklabel{
            padding: 0.2em 4em;
            padding-right: 0.5em;
            text-indent: -2em;
            &::before{
                content: url(../img/page.png)
            }
        }
    }
}
#foot{
    margin-top: 50px;
    padding: 20px 0px;
    box-shadow: 0px 0px 10px 0px rgb(110, 110, 110);
    background-color: rgb(202, 202, 202);
    .githubpng{
        display: flex;
        justify-content: center;
        a{
            margin: 5px;    // display: block;
        }
    }
}