<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="star.ico" type="image/x-icon">
    <title>url collection</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/main.css">
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/vue.min.js"></script>
    <script src="js/main.js"></script>
</head>
<body>
    <div id="html">
        <header id="head">
            <div class="title">链接收藏</div>
        </header>
        <div id="body">
            <aside class="leftbox">
                <nav class="tagbox">
                    <div class="tag" v-for="(group, index) in urlgroups" :key="index" v-on:click="location.hash='group'+index">{{ group.name }}</div>
                </nav>
            </aside>
            <div class="mainbox">
                <div class="urlgroup" v-for="(group, index) in urlgroups" :key="index" :id="'group'+index">
                    <div class="groupname">{{ group.name }}</div>
                    <div class="linklabel" v-for="(link, index) in group.urls" :key="index">
                        <a :href="link.url" target="_blank" v-on:click="clickfun(link)">{{ link.name }}</a>
                    </div>
                </div>
            </div>
        </div>
        <footer id="foot">
            <div class="githubpng">
            <!--
                <a href="alipayqr://platformapi/startapp?saId=10000007&qrcode=HTTPS%3a%2f%2fQR.ALIPAY.COM%2fFKX09444VLZFVRUQTCQA47">
                    <img src="img/alipay.png" alt="" height="40px" title="支付宝打赏">
                </a>
            -->
                <a href="https://github.com/MeterSun/url-collection">
                    <img src="img/github_black - f.png" alt="github.com/MeterSun/url-collection" height="40px" title="github/Metersun">
                </a>
            </div>
        </footer>
    </div>
</body>
    <script>
        var vm = new Vue({
            el:"#html",
            data:{
                urlhistory:[],
                urltxtgroups:[]
            },
            computed:{
                urlgroups:function(){
                    if (this.urlhistory.length > 0) {
                        return Array({name:'常用',urls:this.urlhistory}).concat(this.urltxtgroups);
                    } else {
                        return this.urltxtgroups;
                    }
                }
            },
            methods:{
                clickfun:function(link){
                    while(0 <= $.inArray(link,this.urlhistory))this.urlhistory.splice($.inArray(link,this.urlhistory),1);
                    this.urlhistory.unshift(link);
                    while(this.urlhistory.length>10)this.urlhistory.pop();
                    setLocalStorage('urlhistory',this.urlhistory);
                }
            },
            created:function() {
                this.urlhistory = getLocalStorage('urlhistory') || [];
                !function (obj) {
                    $.get('./url.txt',function(data){
                        obj.urltxtgroups = urltxtprase(data);
                    },'text')
                }(this);
            },
        });
    </script>
</html>
