<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ZYstudio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" media="(max-width:800px)" href="css/mainlt.css">
    <!-- <link rel="stylesheet" type="text/css" media="screen and (max-width:700px)" href="css/main.css" /> -->
    <!-- <link rel="stylesheet" type="text/css" media="screen and (min-width:700px)" href="css/hand.css" /> -->
    <!-- <link rel="stylesheet" type="text/css" media="(max-width:700px)" href="css/main.css" /> -->
    <!-- <link rel="stylesheet" type="text/css" media="(min-width:700px)" href="css/hand.css" /> -->
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/vue.min.js"></script>
    <script src="js/main.js"></script>
    <script>
        // var getFaviconUrl = function(url){
        //     var a = document.createElement("a");
        //     a.href = url;
        //     return a.protocol + '//' + a.host + '/favicon.ico';
        // }
        // $(function(){
        //     $.get('./url.txt',function(data){
        //         var urlgroups = urltxtprase(data);
        //         console.log(urlgroups);
        //         console.log(JSON.stringify(urlgroups));
        //     },'text');
        // });
    </script>
</head>
<body>
    <div id="html">
        <div id="head">
            <div class="title">链接收藏</div>
        </div>
        <div id="body">
            <div class="leftbox">
                <div class="tagbox">
                    <div class="tag" v-for="(group, index) in urlgroups" :key="index">{{ group.name }}</div>
                </div>
            </div>
            <div class="mainbox">
                <div class="urlgroup" v-for="(group, index) in urlgroups" :key="index">
                    <div class="groupname">{{ group.name }}</div>
                    <div class="linklabel" v-for="(link, index) in group.urls" :key="index">
                        <a :href="link.url" target="_blank">{{ link.name }}</a>
                    </div>
                </div>
            </div>
        </div>
        <div id="foot">
            <div class="githubpng">
                <a href="https://github.com/MeterSun/url-collection">
                    <img src="img/github_black.png" alt="github.com/MeterSun/url-collection" height="60px" title="github/Metersun">
                </a>
            </div>
        </div>
    </div>
</body>
    <script>
        var vm = new Vue({
            el:"#html",
            data:{
                urlgroups:[]
            },
            created:function() {
                !function (obj) {                    
                    $.get('./url.txt',function(data){
                        obj.urlgroups = urltxtprase(data);
                    },'text')
                }(this);
            },
        });
    </script>
</html>